accelerate==0.15.0
transformers==4.26.0
diffusers==0.10.2
ftfy
regex
tdqm
tensorboard
modelcards
git+https://github.com/energy-based-model/Compositional-Visual-Generation-with-Composable-Diffusion-Models-PyTorch
git+https://github.com/openai/CLIP.git